{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block content %} 
    <h1>Вход</h1>
    <div class="module">
        {% if form.errors %}
            <p>Ваш логин и пароль не совпали. Попробуйте ещё раз</p>
        {% else %}
            <p>Введите данные в форму, чтобы войти в свою учётную запись</p>
        {% endif %}
        <div class="login-form">
            <form action="{% url 'login' %}" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}"/>
                <p><input type="submit" value="Войти"></p>
            </form>
        <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
        <p><a href="{% url 'register' %}">Ещё не зарегестрированы?</a></p>
        </div>
    </div>
{% endblock %}