{% extends "base.html" %}

{% block title %}Изменение пароля{% endblock %}

{% block content %}
    <h1>Изменение пароля</h1>
    <div class="module">
        {% if form.email.errors %} {{ form.emil.errors }} {% endif %}
        <p>Введите свой старый пароль, а затем введите новый пароль дважды, чтобы мы могли убедиться, что он введён верно</p>
        <div class="login-form">
            <form action="{% url 'password_change' %}" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}"/>
                <p><input type="submit" value="Изменить пароль"></p>
            </form>
        </div>
    </div>
{% endblock %}